*{
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    text-decoration: none;
}

a:link, a:hover, a:visited {
    color: white;
}


#ContentContainer {
    height: 90%;
    width: 100%;
}


#Line {
    clear: both;
    margin-top: 2px;
    width: 100%;
    height: 6px;
    background-color: #0D3C5B;
}

#logo img{
    float: left;
    margin-left: 3%;
    width: 120px;
    height: auto;
    transform: translateY(10%);
}

#HomeTab {
    height: 70px;
    resize: both;
    width: 100%;
    background-color: #0D3C5B;
    border-bottom: 1px solid black;
}


#HomeTab ul {
    white-space: nowrap;
    position: absolute;
    margin-left: 80%;
    color: white;
    padding: 0;
    list-style: none;
}

#HomeTab ul li {
    transform: translateY(70%);
    font-size: 120%;
    float: left;
    margin-left: 30px;
}


#Title {
    margin-top: 1%;
    background-color: #0D3C5B;
    width: 95%;
    height: 70px;
    float:left;
    transform: skewX(40deg) translateX(-8%);
}

#Title p {
    transform: skewX(-30deg) translateY(30%);
}

.TitleInline {
    color: white;
    font-size: 200%;
    font-weight: 300;
}

#SlantedEdge {
    position: relative;
    top: 1.91%;
    transform: skewX(40deg);
    margin-left: 82%;
    width: 100px;
    height: 7%;
    background-color: #0D3C5B;
}

#Go {
    position: relative;
    transform: translateY(50%);
    right: 2%;
    font-size: 250%;
    color: #0D3C5B;
}

#Quick {
    position: absolute;
    transform: skewX(-25deg);
    margin-left: 28%;
    float: left;
}

#Easy {
    position: absolute;
    width: 25%;
    height: 7%;
    transform: skewX(-25deg);
    margin-left: 58%;
    float: left;
}

#Safe {
    position: absolute;
    margin-left: 88%;
    transform: skewX(-25deg);
    float: left;
}


#ContentBody {
    width: 100%;
    height: 100%;
}

.inline {
    margin: 20px 3.2% auto auto;
    float: left;
    height: 100%;
    width: 25%;
}

#ColumnContainer {
    height: 60%;
    width: 100%;
    transition: height 0.5s ease-in-out;
}

#Col1 {
    margin-left: 8%;
    background-position: 50% 50%;
    border-radius: 8px;
    background-size: 80%;
    background-repeat: no-repeat;
    background-image: url(../img/Easy.jpg);
}

#Col1:hover {
    box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.75);
}

#Col2 {
    background-position: 50% 50%;
    border-radius: 8px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-image: url(../img/Quick_2.jpg);
}

#Col2:hover {
    box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.75);
}

#Col3 {
    margin-right: 0;
    background-position: 50% 50%;
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://static1.squarespace.com/static/52e31fa5e4b063a62ace6d22/t/54a99e4ee4b0b6dc3e1ab083/1420402260443/Notification+on+all+local+courier+delivery+services);
}

#Col3:hover {
    box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.75);
}

#Info h2, h1 {
    color: grey;
    text-align: center;
}

.sponsIMG {
    float: left;
    filter: grayscale(100%);
}

.sponsIMG:hover {
    filter: grayscale(0%);
}

#Microsoft {
    position: absolute;
    left: 35%;
}

#Cox {
    position: absolute;
    left: 20%;
}

#Pindrop {
    position: absolute;
    left: 60%;
}

#TSL {
    position: absolute;
    left: 75%;
}

#DataContainer {
    width: 100%;
    height: 0;
    /* background-color: black; */
    transition: height 0.5s ease-in-out;
}
